body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:"Open Sans",sans-serif,Arial;
    font-size: 15px;
    margin:0px;
   
}

header {
    display:flex;
    height:60px;
    width: 100%;
    justify-content: center;
    font-size:13px;
    margin-bottom:5px;
    position: sticky;
    top: 0;
    background-color: white;
   
}


.header, .header1 {
    display:flex;
}
    

.header_logoleboncoin{
    display: flex;  
    width:20%;
    
}


.header_annonce{
    display: flex;
    margin:10px;
    text-align: center;
    background-color: rgb(252, 86, 26);
    color:white;
    border-radius: 8px;
    border:none;
    width: 170px;
    padding-left: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;

}

.header_annonce:hover {
    background-color: rgb(172, 74, 38);

}

.header_search {
    display: flex;
    margin:15px;
    align-items: center;

}

.header_logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:15px;


}

.header_logo img, .header_logo_text{
    display:flex;
}

.formulaire_content{
   display:flex;
   flex-direction: column; 
   align-items: center;
   padding-bottom:10px;
   width:50%;
}

form{
    width:100%;
}

.formulaire{
    display:flex;
    border:none;
    border-radius: 8px;
    width:100%;
    height:24vh;
    justify-content: center;
    box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
    margin-bottom:40px;
}


.formulaire_choice_button {
    border: 1px #b3b3b3 solid;
    border-radius: 16px;
    height: 35px;
    background-color: white;
    margin-right: 5px;
    padding: 10px;
    
    
}

.formulaire_checkbox, .formulaire_search, .formulaire_choice, .formulaire_save, .formulaire_searchfinal{
    margin:20px;
}

.formulaire_search_champ1{
    height:40px;
    width:348px;
    margin-right: 10px;
    padding-left:10px;
    background-color: rgb(230, 240, 236);
    border:none;
  
}

.formulaire_search_champ{
    height:40px;
    width:170px;
    margin-right:-6.5px;
    padding-left:10px;
    background-color: rgb(230, 240, 236);
    border-color: rgb(230, 240, 236); ;
    border-right: rgb(160, 160, 160) 2px solid;
    
}

.formulaire_save{
    text-align: right;
    color:rgb(73, 121, 192);
}

.formulaire_searchfinal{
    text-align: center;
}

.formulaire_searchfinal input {
    background-color: rgb(73, 121, 192);
    color:white;
    border-radius: 4px;
    border:none;
    height: 40px;
}

.formulaire_searchfinal input:hover{
    background-color: rgb(58, 93, 146);
}

.content{
    width:100%;
    margin:15px;
    display:flex;
    flex-direction: column;
}

h1{
    font-weight: normal;
    font-size: 25px;
}

.content_title{
    margin-bottom: 12px;
}

.content_checkbox_champ{
    margin:10px;
}

select.content_checkbox_champ{
    width: 150px;
    height: 35px;
    border-radius: 4px;
}

.content_estimation{
    display:flex;
    justify-content: space-between;
    border:none;
    border-radius: 8px;
    width:100%;
    height:100%;
    box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
    margin-bottom:22px;
}

.content_estimation_text{
    margin:25px;
}

.content_estimation_text input{
    background-color:rgb(252, 86, 26);
    border:none;
    border-radius: 8px;
    color:white;
    height: 40px;
    width:50%;
}

.content_estimation_text input:hover{
    background-color:rgb(167, 58, 19); 
}

h2{
    font-weight: normal;
    font-size: 16px;
    font-weight:600;
}

h3{
    font-weight: normal;
    font-size: 12px; 
    margin:8px;
}

hr{
    background-color:grey;
    width: 100%;
    margin-left:0px;
    margin-bottom: 14px;
}

.content_liste{
    display:flex;
    flex-direction: column;
}

.content_liste_element{
    display:flex;
}

.content_liste_element_text{
    margin:15px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.content_list_element_text_prix{
    display:flex;
    align-items:center;
}

p.maison {
    margin-top: -10px;
    font-size:14px;
}

p.ville {
    margin-top: -10px;
    color:grey; 
} 

p.heure {
    font-size: 12px;
    color: grey;
    margin-top: 104px;
}

.content_liste_element_img img{
    border-radius: 18px;

}

.save_the_search input{
    background-color: rgb(73, 121, 192);
    color: white;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 15px;
}

.plusieurspages img{
    height:30px;
    margin-bottom:-10px;

}

.plusieurspages{
    text-align: center;
}

.categories{
    width: 100%;
    align-items: center;
    background-color:rgb(230, 240, 236);
    font-size: 13px;
    color: #a2a2a2;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
li.title{
    color:black;
}

ul {
    list-style-type: none;
    margin-right:30px;
}

.categorie1, .categorie2{
    display:flex;
    justify-content: space-between;
    width: 55%;
}

ul.categorieliste{
    margin-right: 50px;
}

footer{
    background-color:rgb(88, 85, 85);
    color:white;
    width:100%;
    align-items: center;
    font-size:13px;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}
ul.footer_content_list1{
    list-style:none;
    margin-right: 40px;
}

.footer_content_list{
    display:flex;
    justify-content: space-between;
}

li.footer_li{
    margin-top:20px;

}

select.select_country{
    height: 40px;
    width: 305px;
    border-radius: 4px;
}

.footer_content_text_1{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
} 

.footer_content_text_2{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

p.separate_text{
    display: flex;
    justify-content: center;
}