body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:"Open Sans",sans-serif,Arial;
    font-size: 15px;
    margin:0px;
   
}

header {
    display:flex;
    height:60px;
    width: 100%;
    justify-content: center;
    font-size:13px;
    margin-bottom:20px;
    box-shadow: 0px 2px 20px #c7c3c3;
   
}

.header, .header1 {
    display:flex;
    width: 50%;
    justify-content: space-between;
}
