body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:"Open Sans",sans-serif,Arial;
    font-size: 15px;
    margin:0px;
   
}

header {
    display:flex;
    height:60px;
    width: 100%;
    justify-content: center;
    font-size:13px;
    margin-bottom:20px;
    box-shadow: 0px 2px 20px #c7c3c3;
    position: sticky;
    top: 0;
    background-color: white;
   
}

.header, .header1 {
    display:flex;
}
    

.header_logoleboncoin{
    display: flex;  
    width:20%;
    
}


.header_annonce{
    display: flex;
    margin:10px;
    text-align: center;
    background-color: rgb(252, 86, 26);
    color:white;
    border-radius: 8px;
    border:none;
    width: 170px;
    padding-left: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;

}

.header_annonce:hover{
    background-color: rgb(172, 74, 38);
}

.header_search {
    display: flex;
    margin:15px;
    align-items: center;

}


.header_logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:15px;


}

.header_logo:hover{
    text-decoration: underline;

}

.header_logo img, .header_logo_text{
    display:flex;
}

.content{
    width:60%;
}

.content_text{
    font-size:12px;
    margin-bottom: -8px;
}

.content_colonnes{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content_colonne1{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
}

.content_colonne2{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
}

.images{
    display:flex;
    height:350px;
}

.buttonsurimg{
    display: flex;
    justify-content: flex-end;
}

.buttonsurimage{
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color: white;
    margin: -60px;
    margin-right: 16px;
    border: none;
    font-size:12px;
    letter-spacing: 0.4px;
}


.image_loft{
    width: 100%;
    height: 100%;
    display: block;
    border-radius:22px;
    object-fit: cover;
}

.img1{
    /*border: 1px solid black;*/
    width: 50%;
   

}

.img2{
    /*border: 1px solid black;*/
    width: 50%;
    padding:5px;
    padding-top:0px;
    
}

.img2_img2{
    height:50%;
    margin-bottom:5px;
    

}

.titre1{
    font-size: 25px;
    font-weight: 500;
    line-height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


.titre1_images{
    display: flex;
    align-items: center;
}

.titre1_img{
    margin-right: 8px;
    border-radius: 50%;
    height: 40px;
    box-shadow: rgb(26 26 26 / 8%) 0px -1px 4px 0px, rgb(26 26 26 / 12%) 0px 4px 8px 0px;
    margin-left: 50px;
}

.titre1_text{
    font-size: 24px;
    font-weight: 600;
}

.titre1_img2{
    margin-right: 8px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: rgb(26 26 26 / 8%) 0px -1px 4px 0px, rgb(26 26 26 / 12%) 0px 4px 8px 0px;
    margin-left: 10px;
}


.titre3{
    font-size: 20px;
    font-weight: 600;
    line-height: 2em;
    display: flex;
    align-items: center;
    line-height: 2em;
}

.titre3bis{
    font-size: 12px;
    font-weight: 100;
    margin-left: 10px;
    line-height: 2em;
    color:grey;
}

.titre4{
    font-size: 12px;
    font-weight: 100;
    line-height: 2em;
}

hr{
    margin-bottom:30px;
    width:100%;

}

.hr2{
    margin-bottom:15px;
}

.hr3{
    margin-bottom:15px;
}

.hr4{
    margin-top:20px;
}

.description_title, .criteres_title, .map_title, .carroussel_title{
    font-size: 18px;
    font-weight: 600;
    line-height: 2em;
    margin-bottom: 15px;
}

.voirplus{
    font-weight: 600;
    line-height: 3em;
    color: rgb(73, 121, 192);
}

.touslescriteres1{
    display: flex;
    justify-content: space-between;
}

.touslescriteres2{
    display: flex;
}

.pieces{
    margin-right: 164px;
}

.ges{
    margin-left: 196px;
}

.maison img, .surface img, .terrain img, .energie img, .pieces img, .ges img{
    height:20px;
    margin-right:10px;
}

.map{
    display: flex;
    flex-direction: column;
}

.map_button{
    display: flex;
    justify-content: flex-end;
    
}

.map_button input{
    color:#4183d7;
    background-color:white;
    border-radius: 4px;
    border: solid 1px #4183d7 ;
    height: 40px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-top: 40px;
    
}

.map_button input:hover{
    background-color: #d9e9ff
}
img.map_img{
    width: 740px;
}

.carroussel_carroussel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carroussel1, .carroussel2, .carroussel3, .carroussel4{
    display: flex;
    flex-direction: column;
}

.carroussel1 img, .carroussel2 img, .carroussel3 img, .carroussel4 img{
    height: 220px;
    width: 165px;
    object-fit: cover;
}

.text_carroussel1_titre, .text_carroussel2_titre, .text_carroussel3_titre, .text_carroussel4_titre{
    font-size:16px;
    font-weight: 600;

}

.text_carroussel1, .text_carroussel3{
    width:144px;

}

.text_carroussel1_prix, .text_carroussel2_prix, .text_carroussel3_prix, .text_carroussel4_prix{
    font-size: 14px;
    font-weight: 600;
    margin-top: 6px;
}

.text_carroussel1_ville, .text_carroussel2_ville, .text_carroussel3_ville, .text_carroussel4_ville {
    font-size: 12px;
    margin-top:12px;
}

.infos{
    display:flex;
    font-size: 14px;
    font-weight: 600;
}

.flag, .autres_infos{
    display:flex;
}

.flag{
    margin-right:30px;
}

img.flag_img, img.infos_img{
    height:16px;
    margin-right:8px;
}

.hr{
    margin-top:16px;
}

.card{
    height:290px;
    /*border:1px solid black;*/
    border-radius: 0.4rem;
    box-shadow: rgb(26 26 26 / 8%) 0px -1px 4px 0px, rgb(26 26 26 / 12%) 0px 4px 8px 0px;
    margin-left: 20px;
    width:380px;
}



.card_title, .card_siren{
    display:flex;
    align-items: center;
    margin:20px;
    
}


.card_title_img{
    height: 60px;
    margin-right: 8px;
    border:1px solid black;
    border-radius:50%;
    background-color: grey;
}

.card_title_text{
    font-size:16px;
    font-weight:600;
}


.card_siren_img{
    height:54px;
}

.card_message, .card_num{
    display:flex;
    justify-content:center;
}

.card_message input:hover{
    background-color: #3161a0;
}
.card_button{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}

.card_message input, .card_num input{  
    border-radius: 4px;
    border: solid 1px #4183d7;
    height: 40px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
    width:90%;
}


.card_message input{
    color: white;
    background-color: #4183d7; 
}

.card_num input{
    color: #4183d7;
    background-color: white;
    background-image:url(img/tel.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-position-x: 60px;
    background-size: 10%;
}
















footer{
    background-color:rgb(88, 85, 85);
    color:white;
    width:100%;
    align-items: center;
    font-size:13px;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

.footer_content {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    margin-right: 240px;
    width: 60%;
}

.footer_content_list{
    display:flex;
    justify-content: space-between;
}

ul.footer_content_list1{
    list-style:none;
    margin-right: 40px;
    padding-left: 0px;
}

li.footer_li{
    margin-top:20px;

}

li:hover{
    text-decoration: underline;
}

.li_title:hover, .footer_li:hover{
    text-decoration: none;

}

select.select_country{
    height: 40px;
    width: 305px;
    border-radius: 4px;
}

.footer_content_text_1{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    text-align: center;
} 

.footer_content_text_2{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

p.separate_text{
    display: flex;
    justify-content: center;
}